<h1>Contact Details</h1>

<p>Name: @Model.GetName()</p>
<p>Address: @Model.GetAddress()</p>
<p>Phone: @Model.GetPhone()</p>

<a href="/">Home</a>
<a href="/contacts">View Contacts</a>
<a href="/add_contact">Add Contact</a>
<a href="/contacts/details/edit/@Model.GetId()">Edit</a>
